<!-- header start -->
<div class="header">
    <div class="container">
        <div class="nav">
            <!-- logo start -->
            <div class="logo">
                <a href="#" routerLink="./home"><img src="../../../assets/images/jpg-image/logo.png" alt="">
                </a>
            </div>
            <!-- logo end -->

            <!-- nav items start -->
            <div class="nav-items">
                <ul>
                    <li>
                        <a routerLink="./about" routerLinkActive="">
                            武蔵小杉
                        </a>
                    </li>

                    <li>
                        <a routerLink="./consultation">
                            横浜
                        </a>
                    </li>

                    <li>
                        <a routerLink="./contact" href="">
                            長野
                        </a>
                    </li>
                    <li>
                        <a routerLink="./contact" href="">
                            上越
                        </a>
                    </li>
                </ul>
            </div>
            <!-- nav items end -->
        </div>
    </div>
</div>
<!-- header end -->