<div class="header-one">
    <app-header-one></app-header-one>
</div>

<div class="consultation-area">
    <!-- consultation-header start -->
    <div class="consultation-header">
        <div class="container">
            <div class="header-child">
                <h1>
                    無料相談会 開催案内
                </h1>
            </div>
        </div>
    </div>
    <!-- consultation-header end -->

    <!-- pagination page start -->
    <div class="pagination">
        <div class="container">
            <div class="pagination-child">
                <ul>
                    <li>
                        <a href="#">
                            ソレイユ総合ナビ
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            無料相談会場
                        </a>
                    </li>
                    <li>
                        <a>
                            川崎・武蔵小杉の皆様土日祝日夜間の相続無料相談会は7月24日(日)開催です。
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- pagination page end -->

    <div class="free-consultations">
        <div class="container">
            <div class="free-consultation-child">
                <h1>
                    7月24日

                    <span>
                        武蔵小杉相談室
                    </span>

                    武蔵小杉相談室　会議室
                </h1>

            </div>
        </div>
    </div>


    <!-- home-area-child start -->
    <div class="consultation-area-child">
        <div class="container">
            <div class="consultation-child">

                <!-- left-side start -->
                <div class="left-side">
                    <div class="left-child-child">

                        <!-- free-consultation-header start -->
                        <div class="free-consultation-header">
                            <h2>無料相談会　タイムスケジュール</h2>
                            <div class="heder-title">
                                <span>
                                    窓口からのお知らせ
                                </span>
                            </div>
                        </div>
                        <!-- free-consultation-header end -->


                        <!-- time cards start -->
                        <div class="time-cards">

                            <!-- one -->
                            <div class="time-card">
                                <h3>10:00〜11:00</h3>
                            </div>

                            <div class="time-card">
                                <h3>11:00〜12:00</h3>
                            </div>

                            <div class="time-card">
                                <h3>13:00〜14:00</h3>
                            </div>

                            <div class="time-card">
                                <h3>14:00〜15:00</h3>
                            </div>

                            <div class="time-card">
                                <h3>15:00〜16:00</h3>
                            </div>

                            <div class="time-card">
                                <h3>16:00〜17:00</h3>
                            </div>

                            <div class="time-card">
                                <h3>17:00〜18:00</h3>
                            </div>

                            <div class="time-card">
                                <h3>18:00〜19:00</h3>
                            </div>

                            <div class="time-card">
                                <h3>19:00〜20:00</h3>
                            </div>

                        </div>

                        <div class="big-data">
                            <h2 class="title">
                                川崎・武蔵小杉の皆様
                                <br>
                                土日祝日夜間の相続無料相談会は7月24日(日)開催です。
                            </h2>

                            <div class="normal-text">
                                <p>
                                    皆様からご好評いただいているソレイユ相続相談室の相続無料相談は、土日祝日・夜間でも武蔵小杉相談室にてご相談いただけます！
                                </p>
                            </div>

                            <div class="blue-text">
                                <p>
                                    「遺言は書いた方が良いの？」
                                    <br>
                                    「最近よく耳にする『家族信託』について聞きたい」
                                    <br>
                                    「自分の相続のことを考えたいが何から始めればよいのか？」
                                    <br>
                                    「税務署から”相続税のおたずねが届いた・通知が届いた”」
                                    <br>
                                    「相続税申告は必要か？」
                                </p>
                            </div>

                            <div class="normal-text">
                                <p>
                                    などのお悩みをご相談ください。
                                </p>
                            </div>

                            <div class="bold-title">
                                <p>相続専門の税理士、行政書士と相続コーディネーターが親身にお答えいたします。</p>
                            </div>

                            <div class="normal-text">
                                <p>
                                    相続無料相談会に行きたいけれど、平日はお仕事などで時間が取れず諦めていた方は、是非この機会にお越しください。
                                </p>
                                <p class="red-text">
                                    ※お一人様60分以内・事前予約制
                                </p>
                            </div>


                        </div>


                        <div class="big-data">
                            <h2 class="title">
                                ●ご相談可能時間について
                            </h2>

                            <div class="normal-text">
                                <p>
                                    上記の時間帯以外でご希望の方も、
                                    <br>
                                    前後の予約状況によって対応可能ですので、お気軽にご相談ください。
                                </p>
                            </div>

                            <!-- <div class="blue-text">
                                <p>
                                    「遺言は書いた方が良いの？」
                                    <br>
                                    「最近よく耳にする『家族信託』について聞きたい」
                                    <br>
                                    「自分の相続のことを考えたいが何から始めればよいのか？」
                                    <br>
                                    「税務署から”相続税のおたずねが届いた・通知が届いた”」
                                    <br>
                                    「相続税申告は必要か？」
                                </p>
                            </div> -->

                            <!-- <div class="normal-text">
                                <p>
                                    などのお悩みをご相談ください。
                                </p>
                            </div> -->

                            <!-- <div class="bold-title">
                                <p>相続専門の税理士、行政書士と相続コーディネーターが親身にお答えいたします。</p>
                            </div> -->

                            <!-- <div class="normal-text">
                                <p>
                                    相続無料相談会に行きたいけれど、平日はお仕事などで時間が取れず諦めていた方は、是非この機会にお越しください。
                                </p>
                                <p class="red-text">
                                    ※お一人様60分以内・事前予約制
                                </p>
                            </div> -->

                        </div>


                        <div class="big-data">

                            <div class="yellow-title">
                                <h2>無料相談受付</h2>
                            </div>

                            <div class="colorful-text">
                                <p>受付時間　9：00～18：00</p>
                                <p>フリーダイヤル　☎0120-971-131</p>
                                <p>お問い合わせフォームからは24時間受け付けております。</p>
                            </div>

                            <div class="normal-text">
                                <p>
                                    ソレイユ相続相談室では、お問い合わせをいただいた際に「事前ヒアリング」を実施しております。
                                </p>
                                <div class="normal-img">
                                    <a href="#">
                                        <img src="../../../assets/images/jpg-image/jizen_hearing-768x191.png" alt="">
                                    </a>
                                </div>
                            </div>

                            <div class="anchor-text">
                                <a href="">
                                    <p>
                                        武蔵小杉相談室は交通便利な場所にあります。
                                    </p>
                                    <br>
                                    <p>
                                        武蔵小杉駅は、JRと東急の2社が乗り入れるターミナル駅となっています。
                                    </p>
                                    <p class="same-category-text">
                                        JRは、南武線・横須賀線・湘南新宿ラインの3系統と、特急「成田エクスプレス」「スーパービュー踊り子」も停車します。東急は、東横線、目黒線が乗り入れています。
                                    </p>
                                    <p class="same-category-text">
                                        また、相互直通運転で、東横線は、副都心線・みなとみらい線・東武東上線にも乗り入れ、目黒線は、南北線、都営三田線、埼玉高速鉄道にも乗り入れています。
                                    </p>
                                    <p class="same-category-text">
                                        ですので、渋谷、新宿三丁目、池袋、川越、所沢、大手町、横浜、元町・中華街、川崎、立川、東京、品川、新橋、新宿、千葉、成田国際空港などへ、乗り換え無しの１本で行くことができます。
                                    </p>

                                    <br><br>

                                    <h3>■武蔵小杉駅へ10分程度で着ける主要駅</h3>

                                    <div class="anchor-text-child">
                                        <h4>◆東急東横線</h4>
                                        <p>
                                            菊名、大倉山、綱島、日吉、元住吉　新丸子　多摩川田園調布　自由が丘
                                            <br>
                                            都立大学　学芸大学　祐天寺　中目黒
                                        </p>
                                    </div>

                                    <div class="anchor-text-child">
                                        <h4>◆東急目黒線</h4>
                                        <p>
                                            新丸子　多摩川　田園調布　奥沢　大岡山
                                        </p>
                                    </div>

                                    <div class="anchor-text-child">
                                        <h4>◆南武線</h4>
                                        <p>
                                            尻手　矢向　鹿島田　平間　向河原　武蔵中原　武蔵新城　武蔵溝ノ口
                                            <br>
                                            津田山　久地
                                        </p>
                                    </div>

                                    <div class="anchor-text-child">
                                        <h4>◆横須賀線</h4>
                                        <p>
                                            西大井　新川崎　横浜
                                            <br>
                                            ・湘南新宿ライン
                                            <br>
                                            西大井　大崎
                                        </p>
                                    </div>

                                    <hr>

                                    <div class="white-lue-text">
                                        <p>外出しないで、オンラインでリモート相談も可能です。</p>
                                    </div>

                                </a>
                            </div>


                            <div class="call-img">
                                <a href="#">
                                    <img src="../../../assets/images/jpg-image/consoult.jpg" alt="">
                                </a>
                            </div>

                            <div class="positional-image">
                                <div class="position-image">
                                    <img src="../../../assets/images/jpg-image/positional-bg.jpg" alt="">
                                </div>

                                <div class="inner-data">
                                    <div class="inner-data-child">
                                        <h3>
                                            武蔵小杉相談室
                                        </h3>
                                        <p>
                                            〒211-0063 川崎市中原区小杉町三丁目1501番地7
                                            <br>
                                            <br>
                                            セントア武蔵小杉B棟　302B号室
                                            <br>
                                            <br>
                                            TEL：044-712-3534
                                        </p>
                                    </div>
                                </div>
                            </div>


                            <div class="mapping">
                                <div class="map">
                                    <iframe class="map-body"
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d103021.65211630307!2d138.21005897228508!3d36.204824!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601db3a87842d715%3A0x31b3ca0d0801cf68!2zVGF0ZXNoaW5hLCBLaXRhc2FrdSBEaXN0cmljdCwg4Kao4Ka-4KaX4Ka-4Kao4KeLIOCmquCnjeCmsOCmtuCmvuCmuOCmqOCmv-CmlSDgpoXgpp7gp43gpprgprIsIOCmnOCmvuCmquCmvuCmqA!5e0!3m2!1sbn!2sbd!4v1658646923975!5m2!1sbn!2sbd"
                                        width="100%" style="border:0;" allowfullscreen="" loading="lazy"
                                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </div>

                                <div class="map-btns">

                                    <div class="map-btn">
                                        <a routerLink="../musashikosugi" href="">
                                            詳細はこちら
                                            <i class="fas fa-chevron-circle-right"></i>
                                        </a>
                                    </div>

                                    <div class="map-btn">
                                        <a routerLink="../musashikosugi" href="">
                                            詳細はこちら
                                            <i class="fas fa-chevron-circle-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="soleil-group-img">
                                <a href="#">
                                    <img src="../../../assets/images/jpg-image/soleil_group.jpg" alt="">
                                </a>
                            </div>

                            <div class="phone-email-img">
                                <a href="#">
                                    <img src="../../../assets/images/jpg-image/tell.png" alt="">
                                </a>
                                <a href="#">
                                    <img src="../../../assets/images/jpg-image/mail.png" alt="">
                                </a>
                            </div>

                        </div>

                    </div>
                </div>
                <!-- left-side end -->


            </div>
        </div>
    </div>
    <!-- home-area-child end -->

</div>