

<div class="header">
    <app-header-two></app-header-two>
</div>
<div class="contact-area">
    <!-- about-header start -->
    <div class="contact-header">
        <div class="container">
            <div class="header-child">
                <h1>
                    ソレイユ相続相談室®　お問い<span>合わせ</span>
                </h1>
                <br>
                <h1>
                    合わせ
                </h1>
            </div>
        </div>
    </div>
    <!-- about-header end -->


    <!-- pagination page start -->
    <div class="pagination">
        <div class="container">
            <div class="pagination-child">
                <ul>
                    <li>
                        <a href="#">
                            ソレイユ相続相談室®
                        </a>
                    </li>
                    <li>
                        <a>
                            ソレイユ相続相談室®　お問い合わせ
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- pagination page end -->

    <br>

    <!-- contact-area-child start -->
    <div class="contact-area-child">
        <div class="container">
            <div class="contact-child">

                <!-- left-side start -->
                <div class="left-side">
                    <div class="left-child-child">
                        <form class="form" action="">

                            <!-- one -->
                            <div class="input-area">
                                <label for="one">
                                    氏名(漢字)
                                    <span>必須</span>
                                </label>
                                <input type="text" id="one" placeholder="例）共同 太郎">
                            </div>

                            <!-- two -->
                            <div class="input-area">
                                <label for="two">
                                    氏名(フリガナ)
                                    <!-- <span>必須</span> -->
                                </label>
                                <input type="text" id="two" placeholder="例）キョウドウタロウ">
                            </div>

                            <!-- three -->
                            <div class="input-area">
                                <label for="three">
                                    電話番号
                                    <span>必須</span>
                                </label>
                                <input type="text" id="three" placeholder="">
                            </div>

                            <!-- four -->
                            <div class="input-area">
                                <label for="">
                                    ご連絡希望時間
                                    <!-- <span>必須</span> -->
                                </label>
                                <select name="" id="">
                                    <option value="いつでも" selected>
                                        いつでも
                                    </option>
                                    <option value="１０：００〜１２：００">
                                        １０：００〜１２：００
                                    </option>

                                    <option value="１２：００〜１４：００">
                                        １２：００〜１４：００
                                    </option>

                                    <option value="１４：００〜１６：００">
                                        １４：００〜１６：００
                                    </option>

                                    <option value="１６：００〜１８：００">
                                        １６：００〜１８：００
                                    </option>

                                    <option value="１８：００〜１９：００">
                                        １８：００〜１９：００
                                    </option>
                                </select>
                            </div>

                            <!-- four (radio) -->
                            <div class="input-area radio-area">
                                <label for="">
                                    お住まいの地域
                                    <span>必須</span>
                                </label>
                                <div class="radio">
                                    <div class="radio-child">
                                        <input type="radio" id="radio" value="東京・神奈川近郊" name="location">
                                        <label for="radio">東京・神奈川近郊</label>
                                    </div>

                                    <div class="radio-child">
                                        <input type="radio" id="radio1" value="長野" name="location">
                                        <label for="radio1">長野</label>
                                    </div>

                                    <div class="radio-child">
                                        <input type="radio" id="radio2" value="新潟" name="location">
                                        <label for="radio2">新潟</label>
                                    </div>

                                    <div class="radio-child">
                                        <input type="radio" id="radio3" value="その他地域" name="location">
                                        <label for="radio3">その他地域</label>
                                    </div>
                                </div>
                            </div>

                            <!-- five -->
                            <div class="input-area">
                                <label for="five">
                                    市区町村
                                    <span>必須</span>
                                </label>
                                <input type="text" id="five" placeholder="例）神奈川県横浜市中区山下町">
                            </div>

                            <!-- six -->
                            <div class="input-area">
                                <label for="five">
                                    メールアドレス
                                    <span>必須</span>
                                </label>
                                <input type="email" id="five" placeholder="例）abc@google.co.jp">
                            </div>

                            <!-- seven (checkbox) -->
                            <div class="input-area radio-area">
                                <label for="">
                                    ご相談内容
                                    <span>必須</span>
                                </label>
                                <div class="radio">
                                    <div class="radio-child">
                                        <input type="checkbox" id="checkbox" value="無料相談予約">
                                        <label for="checkbox">無料相談予約</label>
                                    </div>

                                    <div class="radio-child">
                                        <input type="checkbox" id="checkbox1" value="相続税申告">
                                        <label for="checkbox1">相続税申告</label>
                                    </div>

                                    <div class="radio-child">
                                        <input type="checkbox" id="checkbox2" value="相続手続き（名義変更）">
                                        <label for="checkbox2">相続手続き（名義変更）</label>
                                    </div>

                                    <div class="radio-child">
                                        <input id="checkbox3" type="checkbox" value="遺産分割協議">
                                        <label for="checkbox3">遺産分割協議</label>
                                    </div>

                                    <!--  -->
                                    <div class="radio-child">
                                        <input id="checkbox4" type="checkbox" value="不動産売却">
                                        <label for="checkbox4">不動産売却</label>
                                    </div>

                                    <div class="radio-child">
                                        <input id="checkbox5" type="checkbox" value="遺言">
                                        <label for="checkbox5">遺言</label>
                                    </div>

                                    <div class="radio-child">
                                        <input id="checkbox6" type="checkbox" value="家族信託">
                                        <label for="checkbox6">家族信託</label>
                                    </div>

                                    <div class="radio-child">
                                        <input id="checkbox7" type="checkbox" value="生前贈与">
                                        <label for="checkbox7">生前贈与</label>
                                    </div>

                                    <div class="radio-child">
                                        <input id="checkbox8" type="checkbox" value=" 実家の相続">
                                        <label for="checkbox8"> 実家の相続</label>
                                    </div>

                                    <div class="radio-child">
                                        <input id="checkbox9" type="checkbox" value="中小企業承継">
                                        <label for="checkbox9">中小企業承継</label>
                                    </div>

                                    <div class="radio-child">
                                        <input id="checkbox10" type="checkbox" value="おひとりさまの相続">
                                        <label for="checkbox10">おひとりさまの相続</label>
                                    </div>

                                    <div class="radio-child">
                                        <input id="checkbox11" type="checkbox" value="ペットのための遺言・家族信託">
                                        <label for="checkbox11">ペットのための遺言・家族信託</label>
                                    </div>

                                    <div class="radio-child">
                                        <input id="checkbox12" type="checkbox" value="その他">
                                        <label for="checkbox12">その他</label>
                                    </div>

                                    <!-- red text -->
                                    <div class="red-type-text">
                                        <h3>
                                            ※営業を目的としたお問合わせはご遠慮くださいますよう、お願い申し上げます。
                                        </h3>
                                    </div>

                                </div>
                            </div>


                            <!-- eight -->
                            <div class="input-area radio-area">
                                <label for="five">
                                    メールアドレス
                                    <span>必須</span>
                                </label>
                                <textarea name="" id="" cols="30" rows="8"
                                    placeholder="相続後か相続前か、どのような相談か簡単にご入力ください"></textarea>
                            </div>

                            <!-- submit button -->
                            <div class="submit-btn">
                                <button type="submit">
                                    確認画面へ
                                </button>
                            </div>

                        </form>

                        <!-- red type color -->
                        <div class="red-type-text  red-text">
                            <h3>
                                ※大変申し訳ございませんが、メールでの個別具体的なご相談は承っておりません。
                            </h3>
                            <h3>
                                相続無料相談をご希望の方は、お手数ですが上記の「無料相談予約」にもチェックをお願いいたします。
                            </h3>
                            <h3>
                                折り返し、ご希望の日時・会場について会場担当者からご連絡させていただきます。
                            </h3>
                        </div>


                        <!-- image anchor -->
                        <div class="image-anchor">
                            <a href="#">
                                <img src="../../../assets/images/jpg-image/790_150-768x146.jpg" alt="">
                            </a>
                        </div>

                    </div>
                </div>
                <!-- left-side end -->


                <!-- right-sidebar start -->
                <div class="right-sidebar" [class.is-open]="isMenuOpen">

                    <!-- top-right -->
                    <div class="top-right">
                        <div class="top-right-header">
                            <h2>
                                無料相談受付中
                            </h2>
                        </div>

                        <div class="top-right-middle">
                            <a href="#">
                                <img src="../../../assets/images/png-image/sidebar_contact.png" alt="">
                            </a>
                        </div>

                        <div class="top-right-bottom">
                            <a href="#">
                                <span><i class="fas fa-envelope"></i></span>
                                <span>お問い合わせ・ご相談</span>
                            </a>
                        </div>
                    </div>

                    <div class="right-sidebar-child">

                        <!-- aside-one -->
                        <aside>
                            <!-- ul first-child -->
                            <ul>
                                <li>
                                    <a href="#">
                                        <img src="../../../assets/images/png-image/side_image1.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="../../../assets/images/png-image/side_image2.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="../../../assets/images/png-image/side_image3.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="../../../assets/images/png-image/side_image4.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="../../../assets/images/png-image/side_image5.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="../../../assets/images/png-image/side_image6.png" alt="">
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <img src="../../../assets/images/png-image/side_image8.png" alt="">
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <img src="../../../assets/images/png-image/side_image7.jpg" alt="">
                                    </a>
                                </li>

                            </ul>
                        </aside>


                        <!-- aside-two -->
                        <aside>
                            <ul>

                                <!-- title -->
                                <li>
                                    ソレイユ安心パックシリーズ
                                </li>

                                <li>
                                    <a href="#">
                                        <span><i class="fas fa-file-alt"></i></span>
                                        <span>相続税申告安心パック</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <span>
                                            <i class="fas fa-pen-square"></i>
                                        </span>
                                        <span>遺言・信託安心パック</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <span>
                                            <i class="fas fa-user-alt"></i>
                                        </span>
                                        <span>おひとりさま安心パック</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <span>
                                            <i class="fas fa-money-bill"></i>
                                        </span>
                                        <span>相続手続き安心パック</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <span>
                                            <i class="fas fa-building"></i>
                                        </span>
                                        <span>不動産売却安心パック</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <span>
                                            <i class="fas fa-home"></i>
                                        </span>
                                        <span>マイホーム安心パック</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <span>
                                            <i class="fas fa-leaf"></i>
                                        </span>
                                        <span>ふるさと相続安心パック</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <span>
                                            <i class="fas fa-heart"></i>
                                        </span>
                                        <span>ライフプラン安心パック</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <span>
                                            <i class="fas fa-briefcase"></i>
                                        </span>
                                        <span>中小企業承継安心パック</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <span>
                                            <i class="fas fa-paw"></i>
                                        </span>
                                        <span>ペットも家族 安心パック</span>
                                    </a>
                                </li>
                            </ul>

                            <ul>

                                <!-- title -->
                                <li>
                                    ソレイユ通信
                                </li>

                                <li>
                                    <a href="#">
                                        <span>ソレイユ通信Vol.10　相続登記はお済ですか？</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>ソレイユ通信Vol.9　遺言の撤回について</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>ソレイユ通信Vol.8　配偶者の税額軽減って本当に有利？</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>ソレイユ通信Vol.7　収益不動産の贈与</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>ソレイユ通信Vol.6</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        もっと見る
                                    </a>
                                </li>

                            </ul>

                            <ul>

                                <!-- title -->
                                <li>
                                    ソレイユ通信
                                </li>

                                <li>
                                    <a href="#">
                                        <span>相続オンライン(WEB・ネット)無料相談・個別セミナーをご利用ください！</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>11月19日（木）「 補助金を活用した、 介護事業での土地の有効活用」セミナー　～グループホームと小規模多機能編～</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>お電話、Skypeで相続や遺言から開業や補助金まで 街の法律家行政書士による無料相談会のお知らせ</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>東京ケアウィーク2020 第6回Care TEX 2020 出展のお知らせ</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>相続対策セミナー＆借地・底地・貸家問題セミナーのお知らせ</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        もっと見る
                                    </a>
                                </li>

                            </ul>

                            <div class="aside-bottom-btn">
                                <a href="#">
                                    <p>
                                        <i class="fas fa-chevron-circle-right"></i>
                                        スタッフ紹介
                                    </p>
                                    <img src="../../../assets/images/jpg-image/banner_icon.jpg" alt="">
                                </a>
                            </div>
                        </aside>


                        <!-- aside-three -->
                        <!-- <aside>
                            <ul>
                                <li>
                                    <a href="#">
                                        <img src="../../../assets/images/png-image/side_image12.png" alt="">
                                    </a>
                                </li>
                            </ul>
                        </aside> -->
                    </div>

                </div>
                <!-- right-sidebar end -->

            </div>
        </div>
    </div>
    <!-- contact-area-child end -->



</div>


<!--------------------------------------------------------------- 
    use for aside bar show. it's show 992px computer indow screen 
---------------------------------------------------------------->
<div class="show-aside-bar">
    <a (click)="toggleMenu()">
        {{isMenuOpen ? 'Close' : 'Open'}}
    </a>
</div>