<div class="about-area">
    <!-- about-header start -->
    <div class="about-header">
        <div class="container">
            <div class="header-child">
                <h1>
                    ソレイユ総合ナビとは？
                </h1>
            </div>
        </div>
    </div>
    <!-- about-header end -->


    <!-- pagination page start -->
    <div class="pagination">
        <div class="container">
            <div class="pagination-child">
                <ul>
                    <li>
                        <a href="#">
                            ソレイユ総合ナビ
                        </a>
                    </li>
                    <li>
                        <a>
                            無料相談会場
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- pagination page end -->

    <br>

    <!-- home-area-child start -->
    <div class="about-area-child">
        <div class="container">
            <div class="about-child">

                <!-- left-side start -->
                <div class="left-side">
                    <div class="left-child-child">
                        <!------------------ consult area start ------------------>
                        <!-- details-area start -->
                        <div class="details-area">
                            <div class="first">
                                <div class="first-data">
                                    <div class="details">
                                        <p>
                                            ソレイユ総合ナビは、身近な方が亡くなって相続手続きが必要な方や、ご自身の相続を考えて対策をしておきたい方が、相続について「調べたい」「相談したい」時にお役に立てるように開設いたしました。
                                        </p>
                                        <p>
                                            例えば、ひとことで「相続の手続き」といっても、多岐にわたる手続きが必要になり多くの時間と労力がかかります。
                                            役所などへの届け出、金融機関での預貯金の名義変更、場合によっては相続税申告が必要で、すべての手続きを終わらせるために、手続きをする人にとって大きな負担となってしまうケースも少なくありません。
                                        </p>
                                        <p>
                                            これらの手続きは、、最近は「終活」という言葉が世の中に浸透してきていることからも、ご自身が元気なうちに準備をしておくことで、相続人となるご家族などが相続の手続きをする際に負担を少なくすることができます。
                                        </p>
                                        <p>
                                            このサイトでは、相続に関する様々なお悩みをステップ方式で解決していただけるように有益な情報を提供してまいります。
                                        </p>
                                    </div>

                                </div>
                            </div>



                            <!-- step start -->
                            <div class="step">
                                <!-- step-image start  -->
                                <div class="step-first-img">
                                    <img src="../../../assets/images/jpg-image/step.jpg" alt="">
                                </div>
                                <!-- step-image end -->


                                <!-- free-consultation  -->
                                <div class="step-consultation">
                                    <!-- free-consultation-header start -->
                                    <div class="step-header">
                                        <div class="step-heder-title">
                                            <span>
                                                相続のお悩み
                                            </span>
                                        </div>
                                    </div>
                                    <!-- free-consultation-header end -->
                                </div>
                            </div>
                            <!-- step end -->

                        </div>
                        <!-- details-area end -->

                    </div>
                </div>
                <!-- left-side end -->














                <!-- right-sidebar start -->
                <div class="right-sidebar">

                    <div class="right-sidebar-child">
                        <!-- aside-one -->
                        <aside>
                            <!-- ul first-child -->
                            <ul>
                                <li>
                                    <a href="#">
                                        <img src="../../../assets/images/png-image/side_image1.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="../../../assets/images/png-image/side_image2.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="../../../assets/images/png-image/side_image3.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="../../../assets/images/png-image/side_image4.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="../../../assets/images/png-image/side_image5.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="../../../assets/images/png-image/side_image6.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="../../../assets/images/png-image/side_image7.jpg" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="../../../assets/images/png-image/side_image8.png" alt="">
                                    </a>
                                </li>
                            </ul>

                            <!-- ul last child -->
                            <ul>
                                <li>
                                    <a href="#">
                                        <img src="../../../assets/images/png-image/side_image9.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="../../../assets/images/png-image/side_image10.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="../../../assets/images/png-image/side_image11.png" alt="">
                                    </a>
                                </li>
                            </ul>
                        </aside>


                        <!-- aside-two -->
                        <aside>
                            <div class="aside-title-image">
                                <img src="../../../assets/images/png-image/wisdom.png" alt="">
                            </div>

                            <ul>

                                <li>
                                    <a href="#">
                                        <!-- <img src="../../../assets/images/png-image/arr.png" alt=""> -->
                                        家族信託の活用
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        相続税対策
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        ペット法務
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        遺言の活用
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        生前贈与と贈与税
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        遺産分割
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        相続財産評価
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        相続手続き
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        譲渡等の税金
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        終活の基礎
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        その他の税金
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        事業承継
                                    </a>
                                </li>
                                <li>
                                    <form class="search-bar" action="">
                                        <div class="input-search">
                                            <input type="text">
                                        </div>
                                        <div class="search-icon">
                                            <button>
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </form>
                                </li>

                            </ul>
                        </aside>


                        <!-- aside-three -->
                        <aside>
                            <ul>
                                <li>
                                    <a href="#">
                                        <img src="../../../assets/images/png-image/side_image12.png" alt="">
                                    </a>
                                </li>
                            </ul>
                        </aside>
                    </div>

                </div>
                <!-- right-sidebar end -->

            </div>
        </div>
    </div>
    <!-- home-area-child end -->



</div>


<div class="show-aside-bar">
    <a (click)="onShowSideBar()" ref="#">
        {{showSidebar ? 'Open' : 'Close'}}
    </a>
</div>