@import'../../../theme/variables';


/* ---- home-area design start:- ---- */
.about-area {
    width: 100%;
    min-height: 100vh;
}

/* ---- home-area design end. ---- */


/* ---- consultation-header design start:- ---- */
.about-header {
    width: 100%;
    background-image: url(../../../assets/images/jpg-image/bg_about_mv.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: scroll;
    padding-top: 30px;
}

.header-child {
    width: 100%;
    padding: 0px 15px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-child h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 60px;
    color: #fff;
    font-family: $font-en-primary-3;
    font-weight: 600;
    text-shadow: 0px 0px 10px rgb(0 0 0 / 60%);
    line-height: 62px;
}


@media (max-width:700px) {
    .header-child {
        padding: 0px 0px;
    }

}

@media (max-width:584px) {

    .header-child h1 {
        font-size: 40px;
    }

}

@media (max-width:476px) {
    .header-child h1 {
        font-size: 35px;
    }
}

@media (max-width:416px) {
    .header-child h1 {
        font-size: 30px;
    }

}

/* ---- consultation-header design end. ---- */



/* ---- pagination design start ---- */
.pagination {
    width: 100%;
    background: #f9ecc9;
    padding: 10px;
}

.pagination-child {
    width: 100%;
    padding: 0px 15px;
}

.pagination-child ul {
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.pagination-child ul li a::before {
    content: "\f054";
    font-family: FontAwesome;
    font-size: 14px;
    color: #666;
    margin: 0px 11px;
}

.pagination-child ul li:first-child a::before {
    content: "";
    display: none;
}

.pagination-child ul li a {
    // margin-right: 10px;
    color: purple;
    cursor: pointer;
    display: block;
    font-family: $font-en-primary-3;
    font-size: 14px;
    font-weight: 500;
}

.pagination-child ul li:last-child a {
    margin-right: 10px;
    cursor: context-menu;
    color: #666;
}

@media (max-width:700px) {

    .pagination-child {
        padding: 0px 0px;
    }
}

/* ---- pagination design end ---- */


/* ---- about-area-child design start ---- */
.about-area-child {
    width: 100%;
    margin-top: 40px;
    height: auto;
}

.about-child {
    display: grid;
    padding: 0px 15px;
    grid-template-columns: 80% 20%;
    height: auto;
    // position: relative;
}


@media (max-width:992px) {
    .about-child {
        max-width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width:700px) {
    .about-child {
        padding: 0px 0px;
        margin: auto;
    }
}

/* -- left side design start:- -- */
.left-side {
    background-color: transparent;
    margin-right: 20px;
    height: auto;
}

@media (max-width:992px) {
    .left-side {
        margin-right: 0px;
    }
}

/* -- consult area start -- */
/* details area */
.details-area {
    width: 100%;
}

.first {
    width: 100%;
}

.first-data {
    width: 100%;
}

.details {
    width: 100%;
}


.details p {
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    font-family: $font-en-primary-3;
    letter-spacing: 1px;
    color: black;
    margin-bottom: 20px;
    line-height: 28px;
    margin-bottom: 25px;
}

/* step design start:- */
.step {
    width: 100%;
    height: auto;
    margin-top: 46px;
}

.step-first-img {
    width: 100%;
}

.step-first-img img {
    width: 100%;
}

/* step design end. */

/* step-consultation design start */
.step-header {
    width: 100%;
    margin-bottom: 60px;
}

.step-heder-title {
    position: relative;
}

.step-heder-title span {
    display: block;
    border: 2px solid #f8b500;
    background: #f8b500;
    color: #fff !important;
    padding: 25px 0px;
    text-align: center;
    font-family: $font-en-primary-3;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 2px;
    position: relative;
}

.step-heder-title span::after {
    content: "\f063";
    font-family: FontAwesome;
    font-size: 50px;
    bottom: -22px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    color: #f8b500;
}

// step card
.two-step {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 50px;
}

.step-second-img {
    width: 100%;
}

.step-second-img img {
    max-width: 100%;
    border: 2px solid #ef8889;
}

.step-text h3 {
    font-family: $font-en-primary-3;
    font-size: 16px;
    color: #333;
    font-weight: 500;
    margin-top: 3px;
}


.step-define {
    width: 100%;
}

.step-define a {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-align: center;
    font-family: $font-en-primary-3;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    background: #ef8889;
    border-radius: 15px;
    padding: 16px 0;
    border: 1px solid #fff;
    letter-spacing: .5px;
    transition: .2s;
    position: relative;
    margin-top: 50px;
    margin-bottom: 0px;
    cursor: context-menu;
}

.step-define a::before {
    content: "\f063";
    font-family: FontAwesome;
    position: absolute;
    color: #dd0024;
    font-size: 34px;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.step-define a i {
    color: #ffff;
    font-size: 22px;
    margin-right: 6px;
    transition: .2s;
    padding-top: 1px;
    margin-top: 1px;

}

@media (max-width:666px) {
    .two-step {
        grid-template-columns: repeat(1, 1fr);
        gap: 24px 0px;
    }

}


// inheritance div start:-
.inheritance {
    width: 100%;
    position: relative;
    margin-bottom: 70px;
    border: 2px solid #f8b500;
    padding: 20px;
}

.inheritance-header {
    width: 100%;
    margin-bottom: 30px;
}

.inheritance-heder-title {
    position: relative;
}

.inheritance-heder-title span {
    display: block;
    border: 2px solid #ef8889;
    background: #ef8889;
    color: #fff !important;
    padding: 20px 0px;
    text-align: center;
    font-family: $font-en-primary-3;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 2px;
    position: relative;
    line-height: 36px;
}

.dropdown-parent-title a {
    margin-bottom: 40px;
    border-bottom: 3px solid #765727;
    color: #765727;
    font-size: 22px;
    font-family: $font-en-primary-3;
    font-weight: 500;
    letter-spacing: 1px;
    padding-bottom: 3px;
    cursor: context-menu;
    line-height: 24px;
}


.step-dropdown {
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
}

.step-data a {
    display: block;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    text-align: center;
    font-family: $font-en-primary-3;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    background: #f8b500;
    border-radius: 15px;
    padding: 9px 7px;
    line-height: 34px;
    border: 1px solid #fff;
    letter-spacing: .5px;
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
}


.step-data a:hover {
    background: #f8b600b9;
}

.step-data a i {
    color: #ffff;
    font-size: 20px;
    margin-right: 6px;
    transition: .2s;
    padding: 8.5px 0px 0px 0px;
}

@media (max-width:556px) {
    .step-data a {
        font-size: 16px;
        line-height: 24px;
    }

    .step-data a i {
        font-size: 16px;
        padding: 3.5px 0px 0px 0px;
    }
}

// step-data2
.step-data2 a {
    padding: 8px 7px;
}

.step-data2 a span {
    padding-top: 2px;
    color: white;
    font-size: 18px;
    margin-right: 7px;
}

// step-data3
.step-data3 a {
    color: purple;
}

.step-data3 a:hover {
    background-color: #f8b500;
    color: #333;
}

.step-data3 a i {
    color: purple;
}

.step-data3 a:hover i {
    color: #333;
}

@media (max-width:556px) {

    .step-data2 a span {
        font-size: 16px;
        padding-top: 1px;
    }

    .step-data2 a i {
        padding: 3.5px 0px 0px 0px;
    }

    .step-data3 a i {
        padding: 3.5px 0px 0px 0px;
    }

}

.drop-down-menu {
    padding-left: 6px;
    overflow: hidden;
    transition: all 10s linear;
    animation: down 2s linear 1 alternate;
    max-height: 2500px;
}

@keyframes down {
    0% {
        max-height: 0px;
    }

    100% {
        max-height: auto;
    }

}

.drop-down-title h3 {
    font-size: 16px;
    color: #333;
    font-weight: 500;
    font-family: $font-en-primary-3;
    margin-bottom: 20px;
}

.drop-down-title span {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

// .drop-down-title span span {
//     margin-right: 6px;
//     font-size: 13px;
//     padding: 1.5px 0px 0px 1px;
//     border-radius: 50%;
//     border: 1px solid #333;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 18px;
//     height: 18px;
//     padding: 12px 11px 10px 10.5px;
// }


.dropdown-datas ul {
    list-style: none;
}

.dropdown-datas ul li .dropdown-child-title a {
    font-size: 18px;
    color: #333;
    font-weight: 600;
    font-family: $font-en-primary-3;
    border-bottom: 1px dotted #ccc;
    margin-bottom: 30px;
    padding-bottom: 8px;
    cursor: context-menu;
    line-height: 28px;
}

.dropdown-datas ul li .dropdown-child-title2 a {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

}

.dropdown-datas ul li .dropdown-child-title2 a span {
    margin-top: 2px;
    margin-right: 6px;
    font-size: 13px;
    padding: 12px 11px 10px 10.5px;
    border-radius: 50%;
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
}

.dropdown-child-data {
    overflow: hidden;
    // transition: all 10s linear;
    animation: downChild 4s linear 1 alternate;
    max-height: 2000px;
}

@keyframes downChild {
    0% {
        max-height: 0px;
    }

    100% {
        max-height: auto;
    }

}


.dropdown-child-data h3 {
    font-size: 16px;
    color: #333;
    font-weight: 500;
    font-family: $font-en-primary-3;
    margin-bottom: 30px;
    // display: flex;
}

.dropdown-child-data h3 a {
    display: inline;
    font-family: $font-en-primary-3;
    font-size: 16px;
    font-weight: 600;
    color: #f8b500;
    letter-spacing: .5px;
    transition: .2s;
    position: relative;
    cursor: pointer;
}

.dropdown-child-data h3 a i {
    color: #f8b500;
    font-size: 16px;
    margin-right: 4px;
    transition: .2s;
    padding-top: 1px;
    margin-top: 1px;
}


// inheritance-foot start
.inheritance-foot {
    width: 100%;
}

.inheritance-foot-child {
    margin-bottom: 45px;
}

.inheritance-foot-child h2 {
    font-size: 16px;
    color: #333;
    font-weight: 500;
    font-family: $font-en-primary-3;
    margin-bottom: 20px;
    line-height: 24px;

}

.inheritance-foot-child h3 {
    margin-bottom: 20px;
    border-bottom: 1px solid #765727;
    color: #765727;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    padding-bottom: 3px;
    line-height: 24px;

}

.inheritance-foot-child h4 {
    font-size: 16px;
    color: #ef8889;
    font-weight: 600;
    font-family: $font-en-primary-3;
    margin-bottom: 20px;
    line-height: 24px;

}

.inheritance-foot-child h4 a {
    font-family: $font-en-primary-3;
    font-size: 16px;
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
    color: #ef8889;
    text-decoration: underline;
    line-height: 24px;
}


.inheritance-foot-child h4 a i {
    color: #ef8889;
    margin-right: 3px;
    font-size: 15px;
    // padding-top: 1px;
    margin-top: 2px;
    text-decoration: underline;
}

.inheritance-foot-child h4 a:hover {
    color: purple;
}

.inheritance-foot-child h4 a:hover i {
    color: purple;
}


// font-size: 16px;
// color: #333;
// font-weight: 500;
// font-family: $font-en-primary-3



/* -- left side design end. -- */


/* -- right-sidebar design start:- -- */
.right-sidebar {
    background-color: #ffff;
    height: auto;
    width: 100%;
    position: relative;
    // top: 0px;
}


.right-sidebar aside {
    padding: 10px;
    margin-bottom: 20px;
}

// aside one

/* global use for sidebar(aside) */
.right-sidebar aside:nth-child(1) {
    background-color: #765727;
}

.right-sidebar aside ul {
    list-style: none;
}

.right-sidebar aside:nth-child(1) ul li {
    display: block;
    width: 100%;
}

/* separate use for sidebar(aside)-1 */
.right-sidebar aside:nth-child(1) ul:first-child li a {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}


.right-sidebar aside:nth-child(1) ul li a:hover {
    opacity: .7;
}

.right-sidebar aside:nth-child(1) ul li a img {
    width: 100%;
}

.right-sidebar aside:nth-child(1) ul:last-child li a {
    display: block;
    width: 100%;
    margin-bottom: 2px;
}


/* separate use for sidebar(aside)-2 */
.aside-title-image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 14px;
}

.aside-title-image img {
    width: 60%;
}

.right-sidebar aside:nth-child(2) {
    background-color: #fbf2e5;
    border: 1px solid #765727;
}

.right-sidebar aside:nth-child(2) ul li {
    display: block;
    width: 100%;
}

.right-sidebar aside:nth-child(2) ul:first-child li a {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.right-sidebar aside:nth-child(2) ul li a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 2px;
    padding: 20px 0px;
    color: #ffff;
    font-size: 16px;
    font-family: $font-en-primary-3;
    font-weight: 500;
    background-color: #765727;
    position: relative;
    text-align: left;
    overflow: hidden;
    letter-spacing: .5px;
}

.right-sidebar aside:nth-child(2) ul li a::before {
    content: url(../../../assets/images/png-image/arr.png);
    // display: flex;
    margin-top: 3px;
    margin-right: 8px;
}

.right-sidebar aside:nth-child(2) ul li a:hover {
    background-color: #96733b;
}

// search-bar
.search-bar {
    margin-top: 9px;
    width: 100%;
    height: 42px;
    background-color: #fff;
    border-radius: 50px;
    overflow: hidden;
    border: 1px solid #765727;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 0px 6px 0px;
}

.input-search {
    width: 75%;
}

.input-search input {
    width: 100%;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    line-height: 42px;
    padding: 0px 10px;
    color: #333;
    font-family: $font-en-primary-3;
    font-size: 14px;
    font-weight: 400;
}

.search-icon {
    width: 22%;
    border-left: 1px solid #765727;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.search-icon button {
    border: 0px;
    outline: 0px;
    background-color: transparent !important;
    text-align: center;
}

.search-icon button i {
    color: #765727 !important;
    font-size: 16px;
    padding: 2px 2px 0px 0px;
    position: relative;
}


/* separate use for sidebar(aside)-3 */
.right-sidebar aside:nth-child(3) {
    background-color: #ececec;
}


.right-sidebar aside:nth-child(3) ul li a:hover {
    opacity: .7;
}

.right-sidebar aside:nth-child(3) ul li a img {
    width: 100%;

}


@media (max-width:992px) {

    .right-sidebar {
        display: none;
        // height: 100vh !important;
        background-color: #fff;
        // border-bottom: 3px solid red;
        box-shadow: 16px -187px 50px 200px rgb(0 0 0 / 100%);

        // use for aside show
        &.is-open {
            display: block;
            width: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 111111;
        }
    }

}



/* ----- show aside bar design start ----- */
.show-aside-bar {
    position: fixed;
    top: 15px;
    right: 20px;
    display: inline-block;
    z-index: 1111111111;
    display: none;

}


.show-aside-bar a {
    width: 75px;
    height: 75px;
    text-transform: uppercase;
    background-color: red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-en-primary-3;
    font-size: 18px;
    font-weight: 500;
    color: #ffff;
    border: 2px solid #fff;
    box-shadow: 0px 0px 10px 0px #333;
    cursor: pointer;
}


@media (max-width:992px) {
    .show-aside-bar {
        display: block;
    }
}

/* -- right-sidebar design end. -- */



/* ---- about-area-child design end. ---- */