<div class="header-one">
    <app-header-one></app-header-one>
</div>

<div class="category-area">
    <!-- about-header start -->
    <div class="category-header">
        <div class="container">
            <div class="header-child">
                <h1>
                    <img src="../../../assets/images/jpg-image/wisdom_h2.png" alt="">
                </h1>
            </div>
        </div>
    </div>
    <!-- about-header end -->


    <!-- pagination page start -->
    <div class="pagination">
        <div class="container">
            <div class="pagination-child">
                <ul>
                    <li>
                        <a href="#">
                            ソレイユ総合ナビ
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            相続対策の知恵
                        </a>
                    </li>
                    <li>
                        <a>
                            相続手続き
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- pagination page end -->

    <br>

    <!-- category-area-child start -->
    <div class="category-area-child">
        <div class="container">
            <div class="category-child">

                <!-- left-side start -->
                <div class="left-side">
                    <div class="left-child-child">

                        <!-- free-consultation  -->
                        <div class="free-consultation">
                            <!-- free-consultation-header start -->
                            <div class="free-consultation-header">
                                <div class="heder-title">
                                    <span>
                                        相続手続き
                                    </span>
                                </div>
                            </div>
                            <!-- free-consultation-header end -->

                        </div>


                        <!-- product-card start -->
                        <div class="all-pro-cards">
                            <ng-container *ngFor="let data of [1,2,3,4,6,5,7,8,9]">
                                <div class="card">
                                    <a href="#">
                                        <div class="card-child">

                                            <div class="card-img">
                                                <img src="../../../assets//images/jpg-image/souzokutetsuzuki.jpg"
                                                    alt="">
                                            </div>

                                            <div class="card-data">
                                                <h3>相続手続き</h3>
                                                <h2>相続オンライン相談のメリット・デメリット</h2>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                            </ng-container>
                        </div>
                        <!-- product-card end -->


                    </div>
                </div>
                <!-- left-side end -->


                <!-- right-sidebar start -->
                <div class="right-sidebar" [class.is-open]="isMenuOpen">

                    <div class="right-sidebar-child">
                        <!-- aside-one -->
                        <aside>
                            <!-- ul first-child -->
                            <ul>
                                <li>
                                    <a href="#">
                                        <img src="../../../assets/images/png-image/side_image1.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="../../../assets/images/png-image/side_image2.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="../../../assets/images/png-image/side_image3.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="../../../assets/images/png-image/side_image4.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="../../../assets/images/png-image/side_image5.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="../../../assets/images/png-image/side_image6.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="../../../assets/images/png-image/side_image7.jpg" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="../../../assets/images/png-image/side_image8.png" alt="">
                                    </a>
                                </li>
                            </ul>

                            <!-- ul last child -->
                            <ul>
                                <li>
                                    <a href="#">
                                        <img src="../../../assets/images/png-image/side_image9.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="../../../assets/images/png-image/side_image10.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="../../../assets/images/png-image/side_image11.png" alt="">
                                    </a>
                                </li>
                            </ul>
                        </aside>


                        <!-- aside-two -->
                        <aside>
                            <div class="aside-title-image">
                                <img src="../../../assets/images/png-image/wisdom.png" alt="">
                            </div>

                            <ul>

                                <li>
                                    <a href="#">
                                        <!-- <img src="../../../assets/images/png-image/arr.png" alt=""> -->
                                        家族信託の活用
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        相続税対策
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        ペット法務
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        遺言の活用
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        生前贈与と贈与税
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        遺産分割
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        相続財産評価
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        相続手続き
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        譲渡等の税金
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        終活の基礎
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        その他の税金
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        事業承継
                                    </a>
                                </li>
                                <li>
                                    <form class="search-bar" action="">
                                        <div class="input-search">
                                            <input type="text">
                                        </div>
                                        <div class="search-icon">
                                            <button>
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </form>
                                </li>

                            </ul>
                        </aside>


                        <!-- aside-three -->
                        <aside>
                            <ul>
                                <li>
                                    <a href="#">
                                        <img src="../../../assets/images/png-image/side_image12.png" alt="">
                                    </a>
                                </li>
                            </ul>
                        </aside>
                    </div>

                </div>
                <!-- right-sidebar end -->

            </div>
        </div>
    </div>
    <!-- home-area-child end -->



</div>


<!--------------------------------------------------------------- 
    use for aside bar show. it's show 992px computer indow screen 
---------------------------------------------------------------->
<div class="show-aside-bar">
    <a (click)="toggleMenu()">
        {{isMenuOpen ? 'Close' : 'Open'}}
    </a>
</div>