<div class="footer-area">
    <!-- scroll-bar start -->
    <div class="scroll-bar">
        <a href="#" (click)="onscrollTop()">
            <i class="fas fa-chevron-up"></i>
            <span>ページトップ</span>
        </a>
    </div>
    <!-- scroll-bar end -->

    <div class="container">
        <div class="footer">
            <!-- one -->
            <div class="footer-side">
                <ul>
                    <!-- footer-title start -->
                    <li>
                        <a href="#">
                            <i class="fas fa-caret-right"></i>
                            <span>ソレイユ総合ナビ</span>
                        </a>
                    </li>
                    <!-- footer-title end -->

                    <li>
                        <a href="#">
                            <i class="fas fa-caret-right"></i>
                            <span>ソレイユ総合ナビTOP</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fas fa-caret-right"></i>
                            <span>相続対策の知恵</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fas fa-caret-right"></i>
                            <span>無料相談会場</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fas fa-caret-right"></i>
                            <span>相続のエキスパート</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fas fa-caret-right"></i>
                            <span>求人情報</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fas fa-caret-right"></i>
                            <span>グループ概要</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fas fa-caret-right"></i>
                            <span>プライバシーポリシー・個人情報保護方針</span>
                        </a>
                    </li>


                </ul>
            </div>

            <!-- two -->
            <div class="footer-side">
                <ul>
                    <!-- footer-title start -->
                    <li>
                        <a href="#">
                            <i class="fas fa-caret-right"></i>
                            <span>ソレイユ相続相談室</span>
                        </a>
                    </li>
                    <!-- footer-title end -->

                    <li>
                        <a href="#">
                            <i class="fas fa-caret-right"></i>
                            <span>ソレイユ相続相談室TOP</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fas fa-caret-right"></i>
                            <span>武蔵小杉相談室</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fas fa-caret-right"></i>
                            <span>横浜相談室</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fas fa-caret-right"></i>
                            <span>長野相談室</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fas fa-caret-right"></i>
                            <span>上越相談室</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fas fa-caret-right"></i>
                            <span>サービス内容・料金体系</span>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- three -->
            <div class="footer-side">
                <ul>
                    <!-- footer-title start -->
                    <li>
                        <a href="#">
                            <i class="fas fa-caret-right"></i>
                            <span>税理士法人 共同会計社</span>
                        </a>
                    </li>
                    <!-- footer-title end -->

                    <li>
                        <a href="#">
                            <i class="fas fa-caret-right"></i>
                            <span>税理士法人 共同会計社TOP</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fas fa-caret-right"></i>
                            <span>武蔵小杉事務所</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fas fa-caret-right"></i>
                            <span>横浜事務所</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fas fa-caret-right"></i>
                            <span>長野事務所</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fas fa-caret-right"></i>
                            <span>上越事務所</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fas fa-caret-right"></i>
                            <span>サービス内容</span>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- three -->
            <div class="footer-side">
                <ul>
                    <!-- footer-title start -->
                    <li>
                        <a href="#">
                            <i class="fas fa-caret-right"></i>
                            <span>行政書士法人 リーガルイースト</span>
                        </a>
                    </li>
                    <!-- footer-title end -->

                    <li>
                        <a href="#">
                            <i class="fas fa-caret-right"></i>
                            <span>行政書士法人 リーガルイーストTOP</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fas fa-caret-right"></i>
                            <span>武蔵小杉事務所</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fas fa-caret-right"></i>
                            <span>横浜事務所</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fas fa-caret-right"></i>
                            <span>長野事務所</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fas fa-caret-right"></i>
                            <span>上越事務所</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fas fa-caret-right"></i>
                            <span>業務案内</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-child">
                <p>Copyright 2017 soleil consultation services / kyodokaikeisya Tax co. All Rights Reserved.</p>
            </div>
        </div>
    </div>

</div>

<div class="header-bottom">
    <app-header-bottom></app-header-bottom>
</div>