@import'../../../theme/variables';
@import'../../../theme/swipper';



/* ---- home-area design start:- ---- */
.home-area {
    width: 100%;
    min-height: 100vh;
}

/* ---- home-area design end. ---- */


/* ---- home-area design start:- ---- */
.home-header {
    width: 100%;
    background-image: url(../../../assets/images/jpg-image/pcmv_bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 70%;
    background-position: top center;
    background-attachment: scroll;
    padding-top: 30px;
}

.swiper {
    width: 100%;
    padding: 0px 15px;
}

.swipe {
    padding: 10px 10px 17px 10px;
    background-color: #fff;
    background: url(../../../assets/images/jpg-image/mv_shadow.png) no-repeat center bottom #fff;
    // background-repeat: no-repeat;
    background-size: 100%;
    // background-position: center bottom;
    background-attachment: scroll;
}

.swipe-img {
    width: 100%;
}

.swipe-img a {
    width: 100%;
}

.swipe-img a img {
    width: 100%;
    height: 100%;
}

@media (max-width:700px) {
    .swiper {
        padding: 0px 0px;
    }

}

/* ---- home-area design end. ---- */



/* ---- home-area-child design end. ---- */
.home-area-child {
    width: 100%;
    margin-top: 40px;
    height: auto;
}

.home-child {
    display: grid;
    padding: 0px 15px;
    grid-template-columns: 80% 20%;
    height: auto;
}


@media (max-width:992px) {
    .home-child {
        max-width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width:700px) {
    .home-child {
        padding: 0px 0px;
        margin: auto;
    }
}

/* -- left side design start:- -- */
.left-side {
    background-color: transparent;
    margin-right: 20px;
    height: auto;
}

/* sections-btns */
.section-btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 60px;
}

.section-btn a {
    display: block;
    background-color: #ffff;
    padding: 14px 0px;
    text-align: center;
    font-family: $font-en-primary-3;
    font-size: 22px;
    font-weight: 500;
    color: #ee8888;
    letter-spacing: 1px;
    border: 1px solid #ee8888;
    position: relative;
    cursor: pointer;
}


// use active btn class and cut this code start:- 

.section-btn a:hover {
    background-color: #ee8888;
    color: #fff;
}


.section-btn a::before {
    position: absolute;
    content: '';
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top: 20px solid transparent;
    // opacity: 0;
    // visibility: hidden;
}

.section-btn a:hover::before {
    position: absolute;
    content: '';
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top: 20px solid #ee8888;
}

// use active btn class and cut this code end. 


// use for btn active show:-
.active-btn {
    background-color: #ee8888 !important;
    color: #fff !important;
}

.active-btn::before {
    position: absolute;
    content: '';
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top: 20px solid #ef8889 !important;
}

@media (max-width:992px) {
    .left-side {
        margin-right: 0px !important;
    }
}


@media (max-width:556px) {
    .section-btn a {
        padding: 10px 0px;
        font-size: 16px;
    }
}

@media (max-width:400px) {
    .section-btn a {
        padding: 7px 0px;
        font-size: 15px;
    }
}



/* -- consult area start -- */
/* details area */
.details-area {
    width: 100%;
}

.first {
    width: 100%;
}

.first hr {
    background-color: #cecece !important;
    border: 0px;
    height: 1px;
    margin: 29px 0px 32px 0px;
}

.first-data {
    width: 100%;
}

.details {
    width: 100%;
}

.details h2 {
    color: #b85204;
    text-align: left;
    font-size: 22px;
    font-weight: 600;
    font-family: $font-en-primary-3;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.details p {
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    font-family: $font-en-primary-3;
    letter-spacing: 1px;
    color: black;
    margin-bottom: 20px;
    line-height: 28px;
    margin-bottom: 25px;
}

.details p span {
    font-weight: 600;
}

.detail-img {
    width: 100%;
    margin-bottom: 25px;
}

.detail-img a {
    display: inline-block;

}

.detail-img a img {
    width: 100%;
    object-fit: cover;
    // max-width: 650px;
    height: auto;
}

.first-data h3 {
    color: black;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    font-family: $font-en-primary-3;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.first-data .one {
    margin-bottom: 0px;
}

/*  free-consultation-header start */
.free-consultation-header {
    width: 100%;
    margin-bottom: 60px;
}

.heder-title span {
    display: block;
    background-color: #ee8888 !important;
    color: #fff !important;
    padding: 20px 0px;
    text-align: center;
    font-family: $font-en-primary-3;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
}


.heder-title span::before {
    position: absolute;
    content: '';
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border: 30px solid transparent;
    border-top: 30px solid #ef8889 !important;
}


/* free-consultation-cards start */
.free-consultation-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 20px;
}

@media (max-width:1086px) {
    .free-consultation-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:992px) {
    .free-consultation-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width:830px) {
    .free-consultation-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:556px) {
    .free-consultation-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 25px 0px;
    }

}

.free-consultation-card {
    width: 100%;
    // height: 100%;
}

.card-header {
    width: 100%;
    // margin-bottom: 60px;
}

.card-title span {
    display: block;
    background-color: #fbf1e5 !important;
    color: rgba(0, 0, 0, 0.925) !important;
    padding: 14px 6px;
    text-align: center;
    font-family: $font-en-primary-3;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    position: relative;
    margin-bottom: 22px;
}


.card-title span::before {
    position: absolute;
    content: '';
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top: 20px solid #fbf1e5 !important;
}



.card-details {
    width: 100%;
    min-height: 280px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.detail-title {
    margin-bottom: 16px;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.detail-title h3 {
    margin-bottom: 0px;
    font-family: $font-en-primary-3;
    text-align: center;
}

.detail-title h3:first-child {
    margin-bottom: 0px;
    color: #775728;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
}

.detail-title h3:last-child {
    font-size: 14px;
    font-weight: 300;
    color: #313131;
    letter-spacing: .5px;
}

.circle-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.circle-text p {
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-right: 10px;
    padding: 2px 18px;
    font-family: $font-en-primary-3;
    font-size: 12px;
    font-weight: 400;
    color: #313131;
    margin-bottom: 10px;
}

.number-text {
    text-align: center;
}


.number-text h2,
p {
    margin-bottom: 0px;
    font-family: $font-en-primary-3;
}

.number-text h2 {
    margin-bottom: 0px;
    // font-size: 0px;
    font-weight: 400;
}

.number-text h2 {
    font-size: 22px;
    font-weight: 500;
    color: #313131;
    margin-bottom: 6px;
}

.number-text p {
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 500;
    color: #fe4543;
    margin-bottom: 5px;
}

.card-btn {
    width: 100%;
}

.card-btn a {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-en-primary-3;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background: #765728;
    border-radius: 15px;
    padding: 10px 0;
    border: 1px solid #fff;
    letter-spacing: .5px;
    transition: .2s;
}

.card-btn a i {
    color: #ffff;
    font-size: 14px;
    margin-left: 6px;
    transition: .2s;
    padding-top: 1px;

}

.card-btn a:hover {
    color: #765728;
    background-color: transparent;
    border: 1px solid #765728;
}

.card-btn a:hover i {
    color: #765728;
    transition: .2s;
}

@media (max-width:556px) {

    .free-consultation-card {
        width: 100%;
        height: auto;
    }

}


// consultation venue design start:-
.card-details2 {
    width: 100%;
    min-height: 280px;
    padding: 0px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



.card-details2 .detail-img img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}




/* -- investigate area start -- */
.first3 {
    width: 100%;
}

.first3 hr {
    background-color: #cecece !important;
    border: 0px;
    height: 1px;
    margin: 29px 0px 32px 0px;
}

.first-data3 {
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
}

.details3 {
    width: 100%;
}

.details3 h2 {
    color: #765728;
    text-align: left;
    font-size: 22px;
    font-weight: 600;
    font-family: $font-en-primary-3;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.details3 p {
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    font-family: $font-en-primary-3;
    letter-spacing: 1px;
    color: #333;
    margin-bottom: 20px;
    line-height: 28px;
    margin-bottom: 25px;
}

.details3-img {
    padding-left: 15px;
    min-height: 294px;
    max-height: 294px;
    width: 100%;
}

.details3-img img {
    max-width: 100%;
    height: 100%;
    // object-fit: contain;
}


.card-details3 {
    width: 100%;
    min-height: 200px;
    padding: 0px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card-details3 .detail-img3 {
    width: 100%;
}

.card-details3 .detail-img3 a {
    display: block;
    width: 100%;
}

.card-details3 .detail-img3 img {
    width: 100%;
    height: 200px;
}

.card-details3 .detail-img3 img:hover {
    opacity: .7;
}

.card-btn3 {
    width: 100%;
}

.card-btn3 a {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-en-primary-3;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background: #765728;
    border-radius: 15px;
    padding: 10px 0;
    border: 1px solid #fff;
    letter-spacing: .5px;
    transition: .2s;
}

.card-btn3 a i {
    color: #ffff;
    font-size: 14px;
    margin-left: 6px;
    transition: .2s;
    padding-top: 1px;
}


.card-header3 {
    width: 100%;
}

.card-title3 span {
    display: block;
    background-color: #fbf1e5 !important;
    color: rgba(0, 0, 0, 0.925) !important;
    padding: 14px 6px;
    text-align: center;
    font-family: $font-en-primary-3;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    position: relative;
    margin-bottom: 22px;
    min-height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.card-title3 span::before {
    position: absolute;
    content: '';
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top: 20px solid #fbf1e5 !important;
}


@media (max-width:898px) {

    .first-data3 {
        grid-template-columns: 60% 40%;
    }

}

@media (max-width:767px) {

    .first-data3 {
        grid-template-columns: repeat(1, 1fr);
    }

    .details3-img {
        display: none;
    }
}

/* -- left side design end. -- */


/* -- right-sidebar design start:- -- */
.right-sidebar {
    background-color: #ffff;
    height: auto;
    width: 100%;
    position: relative;
    // top: 0px;
}


.right-sidebar aside {
    padding: 10px;
    margin-bottom: 20px;
}

// aside one

/* global use for sidebar(aside) */
.right-sidebar aside:nth-child(1) {
    background-color: #765727;
}

.right-sidebar aside ul {
    list-style: none;
}

.right-sidebar aside:nth-child(1) ul li {
    display: block;
    width: 100%;
}

/* separate use for sidebar(aside)-1 */
.right-sidebar aside:nth-child(1) ul:first-child li a {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}


.right-sidebar aside:nth-child(1) ul li a:hover {
    opacity: .7;
}

.right-sidebar aside:nth-child(1) ul li a img {
    width: 100%;
}

.right-sidebar aside:nth-child(1) ul:last-child li a {
    display: block;
    width: 100%;
    margin-bottom: 2px;
}


/* separate use for sidebar(aside)-2 */
.aside-title-image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 14px;
}

.aside-title-image img {
    width: 60%;
}

.right-sidebar aside:nth-child(2) {
    background-color: #fbf2e5;
    border: 1px solid #765727;
}

.right-sidebar aside:nth-child(2) ul li {
    display: block;
    width: 100%;
}

.right-sidebar aside:nth-child(2) ul:first-child li a {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.right-sidebar aside:nth-child(2) ul li a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 2px;
    padding: 20px 0px;
    color: #ffff;
    font-size: 16px;
    font-family: $font-en-primary-3;
    font-weight: 500;
    background-color: #765727;
    position: relative;
    text-align: left;
    overflow: hidden;
    letter-spacing: .5px;
}

.right-sidebar aside:nth-child(2) ul li a::before {
    content: url(../../../assets/images/png-image/arr.png);
    // display: flex;
    margin-top: 3px;
    margin-right: 8px;
}

.right-sidebar aside:nth-child(2) ul li a:hover {
    background-color: #96733b;
}

// search-bar
.search-bar {
    margin-top: 9px;
    width: 100%;
    height: 42px;
    background-color: #fff;
    border-radius: 50px;
    overflow: hidden;
    border: 1px solid #765727;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 0px 6px 0px;
}

.input-search {
    width: 75%;
}

.input-search input {
    width: 100%;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    line-height: 42px;
    padding: 0px 10px;
    color: #333;
    font-family: $font-en-primary-3;
    font-size: 14px;
    font-weight: 400;
}

.search-icon {
    width: 22%;
    border-left: 1px solid #765727;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.search-icon button {
    border: 0px;
    outline: 0px;
    background-color: transparent !important;
    text-align: center;
}

.search-icon button i {
    color: #765727 !important;
    font-size: 16px;
    padding: 2px 2px 0px 0px;
    position: relative;
}


/* separate use for sidebar(aside)-3 */
.right-sidebar aside:nth-child(3) {
    background-color: #ececec;
}


.right-sidebar aside:nth-child(3) ul li a:hover {
    opacity: .7;
}

.right-sidebar aside:nth-child(3) ul li a img {
    width: 100%;

}

@media (max-width:992px) {

    .right-sidebar {
        display: none;
        // height: 100vh !important;
        background-color: #fff;
        // border-bottom: 3px solid red;
        box-shadow: 16px -187px 50px 200px rgb(0 0 0 / 100%);

        // use for aside show
        &.is-open {
            display: block;
            width: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 111111;
        }
    }

}


.right-sidebar aside:nth-child(2) ul li a {
    font-size: 20px;
}





/* ----- show aside bar design start ----- */
.show-aside-bar {
    position: fixed;
    top: 15px;
    right: 20px;
    display: inline-block;
    z-index: 1111111111;
    display: none;

}


.show-aside-bar a {
    width: 75px;
    height: 75px;
    text-transform: uppercase;
    background-color: red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-en-primary-3;
    font-size: 18px;
    font-weight: 500;
    color: #ffff;
    border: 2px solid #fff;
    box-shadow: 0px 0px 10px 0px #333;
    cursor: pointer;
}


@media (max-width:992px) {
    .show-aside-bar {
        display: block;
    }
}

/* -- right-sidebar design end. -- */


/* ---- home-area-child design end. ---- */