<div class="header-one">
    <app-header-one></app-header-one>
</div>
<div class="home-area">
    <!-- home header start -->
    <div class="home-header">
        <div class="container">
            <!-- swiper start -->
            <div class="swiperr">

                <div class="swiper-parent">

                    <swiper [loop]="true" [speed]='1500' [autoplay]="{
                        delay: 2000,
                        disableOnInteraction: false
                    }" [effect]="'fade'" [slidesPerView]="1" [navigation]="true" [loop]="true" [autoplay]="true"
                        [spaceBetween]="0" class="swiper-banner">
                        <ng-template swiperSlide>
                            <!-- Swiper-img start -->
                            <div class="swipe">
                                <div class="swipe-img">
                                    <a href="#">
                                        <img src="../../../assets/images/jpg-image/1.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <!-- Swiper-img end -->
                        </ng-template>

                        <ng-template swiperSlide>
                            <!-- Swiper-img start -->
                            <div class="swipe">
                                <div class="swipe-img">
                                    <a href="#">
                                        <img src="../../../assets/images/jpg-image/02.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <!-- Swiper-img end -->
                        </ng-template>

                        <ng-template swiperSlide>
                            <!-- Swiper-img start -->
                            <div class="swipe">
                                <div class="swipe-img">
                                    <a href="#">
                                        <img src="../../../assets/images/jpg-image/03.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <!-- Swiper-img end -->
                        </ng-template>

                        <ng-template swiperSlide>
                            <!-- Swiper-img start -->
                            <div class="swipe">
                                <div class="swipe-img">
                                    <a href="#">
                                        <img src="../../../assets/images/jpg-image/04.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <!-- Swiper-img end -->
                        </ng-template>

                    </swiper>
                </div>

            </div>
            <!-- swiper start -->

        </div>
    </div>
    <!-- home header end -->

    <!-- home-area-child start -->
    <div class="home-area-child">
        <div class="container">
            <div class="home-child">

                <!-- left-side start -->
                <div class="left-side">
                    <div class="left-child-child">

                        <!-- section-btn start -->
                        <div class="section-btns">
                            <div class="section-btn">
                                <a (click)="onShow('btn1')" [class.active-btn]="sectionBtnActive === 'btn1'" id="btn1">
                                    相談する
                                </a>
                            </div>
                            <div class="section-btn">
                                <a (click)="onShow('btn2')" [class.active-btn]="sectionBtnActive === 'btn2'" id="btn2">
                                    調べる
                                </a>
                            </div>
                        </div>
                        <!-- section-btn end -->

                        <!------------------ consult area start ------------------>
                        <!-- details-area start -->
                        <div class="details-area" *ngIf="sectionBtnActive === 'btn1'">
                            <div class="first">
                                <div class="first-data">
                                    <div class="details">
                                        <h2>
                                            「ソレイユ相続相談室」では、土日祝日夜間も無料相談を行っております。
                                        </h2>
                                        <p>
                                            相談室をご利用希望の方は
                                            <span>フリーダイヤル0120-971-131</span>
                                            までお問い合わせください。
                                            <br>
                                            また、ご自宅にいながらのオンライン相談がおすすめです。ぜひご利用ください！
                                        </p>
                                        <div class="detail-img">
                                            <a href="">
                                                <img src="../../../assets/images/jpg-image/consoult.jpg" alt="">
                                            </a>
                                        </div>
                                        <p>2022年7月12日更新</p>
                                    </div>

                                </div>
                                <hr>
                                <div class="first-data">
                                    <div class="details">
                                        <h2>
                                            横浜市、川崎市の公民館での出張無料相談について
                                        </h2>
                                        <p>
                                            現在、横浜市、川崎市の公民館の利用が再開しております。
                                            <br>
                                            再開後の利用に関しましては「公民館における新型コロナウイルス感染拡大予防ガイドライン」に基づいての運営となります。
                                            <br>
                                            ご来場いただく際はご理解・ご協力をお願いいたします。
                                        </p>
                                        <h3>
                                            公民館における新型コロナウイルス感染拡大予防ガイドライン
                                        </h3>
                                        <p class="one">
                                            当相談室の感染予防対策への取り組みについても併せてご覧くださいますようお願い申し上げます。
                                        </p>
                                        <h3>
                                            公民館における新型コロナウイルス感染拡大予防ガイドライン
                                        </h3>
                                        <p>2020年11月20日更新</p>
                                    </div>

                                </div>
                                <hr>
                            </div>

                            <!-- free-consultation  -->
                            <div class="free-consultation">
                                <!-- free-consultation-header start -->
                                <div class="free-consultation-header">
                                    <div class="heder-title">
                                        <span>
                                            無料相談日程
                                        </span>
                                    </div>
                                </div>
                                <!-- free-consultation-header end -->

                                <!-- free-consultation-cards start -->
                                <div class="free-consultation-cards">

                                    <!-- one -->

                                    <ng-container *ngFor="let data of [1,2,3,4,5,6,7,8,9,0,1,2,3,4,5,6,7,8]">

                                        <div class="free-consultation-card">
                                            <div class="card-header">
                                                <div class="card-title">
                                                    <span>
                                                        7月19日(火)
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="card-details">
                                                <div class="detail-title">
                                                    <h3>港北公会堂</h3>
                                                    <h3>2号会議室</h3>
                                                </div>
                                                <div class="circle-text">
                                                    <p>
                                                        横浜市
                                                    </p>
                                                    <p>
                                                        港北区
                                                    </p>
                                                </div>
                                                <div class="number-text">
                                                    <h2>10:00～17:00</h2>
                                                    <p>相談時間帯は6部構成</p>
                                                    <p>お好きな時間帯から選択出来ます</p>
                                                </div>
                                            </div>
                                            <div class="card-btn">
                                                <a routerLink="../musashikosugi"href="">
                                                    詳細はこちら
                                                    <i class="fas fa-chevron-circle-right"></i>
                                                </a>
                                            </div>
                                        </div>

                                    </ng-container>


                                </div>
                                <!-- free-consultation-cards end -->

                            </div>

                            <br><br><br><br>

                            <!-- consultation venue -->
                            <div class="free-consultation">
                                <!-- free-consultation-header start -->
                                <div class="free-consultation-header">
                                    <div class="heder-title">
                                        <span>
                                            無料相談日程
                                        </span>
                                    </div>
                                </div>
                                <!-- free-consultation-header end -->

                                <!-- free-consultation-cards start -->
                                <div class="free-consultation-cards">

                                    <ng-container *ngFor="let consultationVenue of consultationVenues">
                                        <!-- one -->
                                        <div class="free-consultation-card">
                                            <div class="card-header">
                                                <div class="card-title">
                                                    <span>
                                                        上越相談室
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="card-details2">
                                                <div class="detail-img">
                                                    <img src="{{consultationVenue.img}}" alt="">
                                                </div>
                                                <div class="circle-text">
                                                    <p>
                                                        新潟県
                                                    </p>
                                                    <p>
                                                        上越市
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="card-btn">
                                                <a routerLink="../place" href="">
                                                    詳細はこちら
                                                    <i class="fas fa-chevron-circle-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </ng-container>

                                </div>
                                <!-- free-consultation-cards end -->

                            </div>

                            <br><br><br><br>

                        </div>
                        <!-- details-area end -->

                        <!------------------ investigate area start ------------------>
                        <!-- details-area start -->
                        <div class="details-area" *ngIf="sectionBtnActive === 'btn2'">
                            <div class="first3">
                                <div class="first-data3">
                                    <div class="details3">
                                        <h2>
                                            人間は一人一人が皆違うように、人生の精算である「相続」も同じものは一つもありません。
                                        </h2>

                                        <p>
                                            ここに書いてある知識や事例を、ご自分のケースに当てはめてみて、 実際に活用されるときは、必ずその知識の活用に責任を持ってもら
                                            える専門家の元でご活用をお願いいたします。
                                        </p>

                                        <p>
                                            実際に活用される際には、私どもの事務所の無料相談をご利用いた だき、よりご自身の活用方法に近づけていただくことが早道かと思 います。
                                        </p>

                                    </div>

                                    <div class="details3-img">
                                        <img src="../../../assets/images/jpg-image/wisdom01.jpg" alt="">
                                    </div>

                                </div>

                                <br>
                            </div>

                            <!-- consultation venue -->
                            <div class="free-consultation">

                                <!-- free-consultation-cards start -->
                                <div class="free-consultation-cards">

                                    <ng-container *ngFor="let data of investigateArray">
                                        <!-- one -->
                                        <div class="free-consultation-card">
                                            <div class="card-header3">
                                                <div class="card-title3">
                                                    <span>
                                                        {{data.title}}
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="card-details3">
                                                <div class="detail-img3">
                                                    <a routerLink="/category"><img src="{{data.img}}" alt=""></a>
                                                </div>
                                            </div>
                                            <div class="card-btn3">
                                                <a routerLink="/category" href="">
                                                    詳細はこちら
                                                    <i class="fas fa-chevron-circle-right"></i>
                                                </a>
                                            </div>
                                        </div>

                                    </ng-container>

                                </div>
                                <!-- free-consultation-cards end -->

                            </div>

                            <br><br><br><br>

                        </div>
                        <!-- details-area end -->

                    </div>
                </div>
                <!-- left-side end -->

                <!-- right-sidebar start -->
                <div class="right-sidebar" [class.is-open]="isMenuOpen">

                    <div class="right-sidebar-child">
                        <!-- aside-one -->
                        <aside>
                            <!-- ul first-child -->
                            <ul>
                                <li>
                                    <a href="#">
                                        <img src="../../../assets/images/png-image/side_image1.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="../../../assets/images/png-image/side_image2.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="../../../assets/images/png-image/side_image3.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="../../../assets/images/png-image/side_image4.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="../../../assets/images/png-image/side_image5.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="../../../assets/images/png-image/side_image6.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="../../../assets/images/png-image/side_image7.jpg" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="../../../assets/images/png-image/side_image8.png" alt="">
                                    </a>
                                </li>
                            </ul>

                            <!-- ul last child -->
                            <ul>
                                <li>
                                    <a href="#">
                                        <img src="../../../assets/images/png-image/side_image9.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="../../../assets/images/png-image/side_image10.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="../../../assets/images/png-image/side_image11.png" alt="">
                                    </a>
                                </li>
                            </ul>
                        </aside>


                        <!-- aside-two -->
                        <aside>
                            <div class="aside-title-image">
                                <img src="../../../assets/images/png-image/wisdom.png" alt="">
                            </div>

                            <ul>

                                <li>
                                    <a href="#">
                                        <!-- <img src="../../../assets/images/png-image/arr.png" alt=""> -->
                                        家族信託の活用
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        相続税対策
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        ペット法務
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        遺言の活用
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        生前贈与と贈与税
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        遺産分割
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        相続財産評価
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        相続手続き
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        譲渡等の税金
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        終活の基礎
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        その他の税金
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        事業承継
                                    </a>
                                </li>
                                <li>
                                    <form class="search-bar" action="">
                                        <div class="input-search">
                                            <input type="text">
                                        </div>
                                        <div class="search-icon">
                                            <button>
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </form>
                                </li>

                            </ul>
                        </aside>


                        <!-- aside-three -->
                        <aside>
                            <ul>
                                <li>
                                    <a href="#">
                                        <img src="../../../assets/images/png-image/side_image12.png" alt="">
                                    </a>
                                </li>
                            </ul>
                        </aside>
                    </div>

                </div>
                <!-- right-sidebar end -->

            </div>
        </div>
    </div>
    <!-- home-area-child end -->

</div>


<!--------------------------------------------------------------- 
    use for aside bar show. it's show 992px computer indow screen 
---------------------------------------------------------------->
<div class="show-aside-bar">
    <a (click)="toggleMenu()">
        {{isMenuOpen ? 'Close' : 'Open'}}
    </a>
</div>