<!-- header start -->
<div class="header">
    <div class="container">
        <div class="nav">
            <!-- logo start -->
            <div class="logo">
                <a href="#" routerLink="./home"><img src="../../../assets/images/jpg-image/logo-header-one.png" alt="">
                </a>
            </div>
            <!-- logo end -->

            <!-- nav items start -->
            <div class="nav-items">
                <ul>
                    <li>
                        <a routerLink="./about" routerLinkActive="">
                            <img src="../../../assets/images/jpg-image/nav_01.png" alt="">
                        </a>
                    </li>

                    <li>
                        <a routerLink="./consultation">
                            <img src="../../../assets/images/jpg-image/nav_02.png" alt="">
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <img src="../../../assets/images/jpg-image/nav_03.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>
            <!-- nav items end -->
        </div>
    </div>
</div>
<!-- header end -->