<div class="header-one">
    <app-header-one></app-header-one>
</div>

<div class="consultation-area">

    <!-- pagination page start -->
    <div class="pagination">
        <div class="container">
            <div class="pagination-child">
                <ul>
                    <li>
                        <a href="#">
                            ソレイユ総合ナビ
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            相続無料相談会場
                        </a>
                    </li>
                    <li>
                        <a>
                            保険相談サロンFLPたまプラーザテラス店
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- pagination page end -->

    <!-- home-area-child start -->
    <div class="consultation-area-child">

        <!-- container 1 start -->
        <div class="container">
            <div class="consultation-child">

                <!-- left-side start -->
                <div class="left-side">
                    <div class="left-child-child">

                        <div class="big-data">

                            <div class="positional-image">
                                <div class="position-image">
                                    <img src="../../../assets/images/jpg-image/image-91.png" alt="">
                                </div>

                                <div class="inner-data">
                                    <div class="inner-data-child">
                                        <h3>
                                            保険相談サロンFLPたまプラーザテラス店
                                        </h3>
                                        <p>
                                            〒225-0003 神奈川県横浜市青葉区新石川2丁目1-15
                                            <br>
                                            <br>
                                            たまプラーザテラス リンクプラザ 4F
                                            <br>
                                            <br>
                                            TEL：0120-971-131
                                            <br>
                                            <br>
                                            （ソレイユ相続相談室無料相談ご予約専用）
                                        </p>
                                    </div>
                                </div>
                            </div>


                            <div class="three-images">
                                <a href="#">
                                    <img src="../../../assets/images/jpg-image/soudanaite.jpg" alt="">
                                </a>
                                <a href="#">
                                    <img src="../../../assets/images/jpg-image/weekend.jpg" alt="">
                                </a>
                                <a href="#">
                                    <img src="../../../assets/images/jpg-image/korona.jpg" alt="">
                                </a>
                            </div>



                            <!-- free-consultation-header start -->
                            <div class="free-consultation-header">
                                <div class="heder-title">
                                    <span>
                                        地域関連情報
                                    </span>
                                </div>
                            </div>
                            <!-- free-consultation-header end -->



                            <!-- scroll data start -->
                            <div class="scroll-data">
                                <ul>
                                    <li>
                                        <a href="#">
                                            横浜市青葉区の皆様
                                            <br>
                                            ソレイユオンライン相談室リニューアルいたしました！
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            相続税申告　オンライン限定プラン登場！
                                            <br>
                                            一律25万円（税込27.5万円）低価格報酬でご提供
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- scroll data end -->


                            <!-- free-consultation-header start -->
                            <div class="free-consultation-header">
                                <div class="heder-title">
                                    <span>
                                        アクセス&お知らせ
                                    </span>
                                </div>
                            </div>
                            <!-- free-consultation-header end -->


                            <!-- radius-btn start -->
                            <div class="radius-btn">
                                <a href="#">
                                    保険相談サロンFLP たまプラーザテラス店 のホームページはこちら
                                </a>
                            </div>
                            <!-- radius-btn end -->


                            <!-- color-full-text start -->
                            <div class="color-full-text">
                                <h2>■交通のご案内（保険相談サロンＦＬＰホームページより）</h2>
                                <h2>たまプラーザ駅（東急田園都市線）から徒歩１分【駅直結】</h2>
                            </div>
                            <!-- color-full-text end -->


                            <!-- normal-text start -->
                            <div class="normal-text">
                                <p>ソレイユ相続相談室では、保険相談サロンFLPたまプラーザテラス店のサロンで、相続無料相談会を行わせていただいております。</p>

                                <p>この会場は、保険相談サロンFLPたまプラーザテラス店との共催の相談会のときのみの使用になります。</p>
                            </div>
                            <!-- normal-text end -->


                            <!-- soreiyu-img start -->
                            <div class="soreiyu-img">
                                <div class="soreiyu-img-child">
                                    <img src="../../../assets/images/jpg-image/FLPsoreiyu.jpg" alt="">
                                </div>
                            </div>


                            <!-- normal-bold start -->
                            <div class="normal-bold">
                                <p>ファイナンシャルプランナーと相続の専門家(税理士・行政書士、相続コーディネーター)2人が皆様のご相談に親身にのります。</p>
                                <h2>
                                    「相続税の対策をしたい」
                                    <br>
                                    「相続税の有無を知りたい」
                                    <br>
                                    「遺言や家族信託等を活用した争族防止のために対策をしたい」
                                </h2>
                                <p>
                                    等、相続と相続税に関する困りごとについて、2人の専門家が解決策を見出します。
                                </p>
                                <h3>
                                    ご相談には、当相談室より税理士・行政書士、相続コーディネーターと保険相談サロンFLP様のファイナンシャルプランナーが同席いたします。
                                    <br>
                                    また、よりよいご提案のために、お客様の情報を共有させていただいております。
                                    <br>
                                    お客様の情報は、提携先である保険相談サロンFLP様と当相談室の個人情報保護管理者が責任をもって管理をおこないます。
                                </h3>
                                <p>
                                    感染症対策を万全にしてお待ちしております。
                                </p>
                            </div>
                            <!-- normal-bold end -->


                            <!-- google map start -->
                            <div class="mapping">
                                <div class="map">
                                    <iframe class="map-body"
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d103021.65211630307!2d138.21005897228508!3d36.204824!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601db3a87842d715%3A0x31b3ca0d0801cf68!2zVGF0ZXNoaW5hLCBLaXRhc2FrdSBEaXN0cmljdCwg4Kao4Ka-4KaX4Ka-4Kao4KeLIOCmquCnjeCmsOCmtuCmvuCmuOCmqOCmv-CmlSDgpoXgpp7gp43gpprgprIsIOCmnOCmvuCmquCmvuCmqA!5e0!3m2!1sbn!2sbd!4v1658646923975!5m2!1sbn!2sbd"
                                        width="100%" style="border:0;" allowfullscreen="" loading="lazy"
                                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </div>
                            </div>
                            <!-- google map end -->
                        </div>

                    </div>
                </div>
                <!-- left-side end -->


            </div>
        </div>
        <!-- container 1 end -->


        <!-- free-consultations start -->
        <div class="free-consultations">
            <div class="container">
                <div class="free-consultation-child">
                    <h1>よくあるご相談内容</h1>
                    <p>こんなご相談大歓迎です</p>
                </div>
            </div>
        </div>
        <!-- free-consultations end -->


        <!-- container 2 start -->
        <div class="container">
            <div class="consultation-child">

                <!-- left-side start -->
                <div class="left-side">
                    <div class="left-child-child">

                        <div class="big-data">


                            <div class="all-dropdown">
                                <!-- one (A1) -->
                                <div class="step-dropdown">
                                    <div class="step-data step-data2" [class.step-data2]="accordionShow">
                                        <a (click)="onAccordionShow('A1')" id="A1">
                                            <span>相続手続きについて</span>
                                            <span>類似のご質問</span>
                                        </a>
                                    </div>

                                    <!-- drop-down-data start -->

                                    <div class="drop-down-menu" *ngIf="accordionShow === 'A1'">
                                        <div class="dropdown-datas">
                                            <ul>
                                                <li>
                                                    生前に葬式費用として下ろしておいたお金は課税されるのか?
                                                </li>
                                                <li>
                                                    借金があった方か税金が安くなると聞いたが?
                                                </li>
                                                <li>
                                                    養子縁組をすると基礎控除が増えると聞いたが何人までよいのか?
                                                </li>
                                                <li>
                                                    不動産で持っていた方が得なのか売った方が得なのか知りたい
                                                </li>
                                                <li>
                                                    相続税の節税について知りたい
                                                </li>
                                                <li>
                                                    小規模宅地の特例が使えるかどうか知りたい
                                                </li>
                                                <li>
                                                    死亡保険金に１人500万円の非課税枠は余った分は他の人に使えないのか?
                                                </li>
                                                <li>
                                                    相続税はどうやって相続人の間で払い方を決めるか知りたい
                                                </li>
                                                <li>
                                                    相続税がかかるかどうか知りたい
                                                </li>
                                                <li>
                                                    相続税がかかる財産が何かを知りたい
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- drop-down-data end -->
                                </div>

                                <!-- one (A2) -->
                                <div class="step-dropdown">
                                    <div class="step-data step-data2" [class.step-data2]="accordionShow">
                                        <a (click)="onAccordionShow('A2')" id="A2">
                                            <span>相続手続きについて</span>
                                            <span>類似のご質問</span>
                                        </a>
                                    </div>

                                    <!-- drop-down-data start -->

                                    <div class="drop-down-menu" *ngIf="accordionShow === 'A2'">
                                        <div class="dropdown-datas">
                                            <ul>
                                                <li>
                                                    遺言があるのだがこの通りにしては税金が払えくなるどうすればよいか?
                                                </li>
                                                <li>
                                                    亡くなった先代の財産が名義変更されずに残っているがどうすればよいか?
                                                </li>
                                                <li>
                                                    印鑑証明の期限は相続手続きの場合いつまでなのか?
                                                </li>
                                                <li>
                                                    預金の名義だけを変えておくことはできるのか?
                                                </li>
                                                <li>
                                                    相続手続きを何から始めたらよいか
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- drop-down-data end -->
                                </div>


                                <!-- one (A3) -->
                                <div class="step-dropdown">
                                    <div class="step-data step-data2" [class.step-data2]="accordionShow">
                                        <a (click)="onAccordionShow('A3')" id="A3">
                                            <span>ご自宅などの不動産について</span>
                                            <span>類似のご質問</span>
                                        </a>
                                    </div>

                                    <!-- drop-down-data start -->

                                    <div class="drop-down-menu" *ngIf="accordionShow === 'A3'">
                                        <div class="dropdown-datas">
                                            <ul>
                                                <li>
                                                    共有持ち分の土地の名義をまとめたいが良い方法がないか?
                                                </li>
                                                <li>
                                                    亡くなった先代の財産が名義変更されずに残っているがどうすればよいか?
                                                </li>
                                                <li>
                                                    空家になった両親の家を空家対策特別控除の3000万円を使って売れないか?

                                                </li>
                                                <li>
                                                    居住用不動産の譲渡は3000万円の特別控除があると聞いたが使えるのか?

                                                </li>
                                                <li>
                                                    不動産の売却の手取を知りたい
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- drop-down-data end -->
                                </div>



                                <!-- one (A4) -->
                                <div class="step-dropdown">
                                    <div class="step-data step-data2" [class.step-data2]="accordionShow">
                                        <a (click)="onAccordionShow('A4')" id="A4">
                                            <span>生前贈与について</span>
                                            <span>類似のご質問</span>
                                        </a>
                                    </div>

                                    <!-- drop-down-data start -->

                                    <div class="drop-down-menu" *ngIf="accordionShow === 'A4'">
                                        <div class="dropdown-datas">
                                            <ul>
                                                <li>
                                                    2500万円まで非課税で贈与できる制度があると聞いたが自分に使えるのか?
                                                </li>
                                                <li>
                                                    住宅資金の贈与に特例があると聞いたが住宅ローンに使えないか?
                                                </li>
                                                <li>
                                                    結婚して20年経つと居住用不動産は特例で配偶者に贈与できると聞いたが?
                                                </li>
                                                <li>
                                                    １１０万円の非課税贈与を長年繰り返してはいけないと聞いたが本当か?
                                                </li>
                                                <li>
                                                    生前贈与のやり方を知りたい
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- drop-down-data end -->
                                </div>


                                <!-- one (A5) -->
                                <div class="step-dropdown">
                                    <div class="step-data step-data2" [class.step-data2]="accordionShow">
                                        <a (click)="onAccordionShow('A5')" id="A5">
                                            <span>遺産をどう分けるかについて</span>
                                            <span>類似のご質問</span>
                                        </a>
                                    </div>

                                    <!-- drop-down-data start -->

                                    <div class="drop-down-menu" *ngIf="accordionShow === 'A5'">
                                        <div class="dropdown-datas">
                                            <ul>
                                                <li>
                                                    相続人が全員欲しがらない土地が相続税の対象にもなっている。どうしたらよいか?
                                                </li>
                                                <li>
                                                    相続税も考えて遺産を分けたいが現金が足りない時はどうするのか?
                                                </li>
                                                <li>
                                                    遺産を分けるときの金額は不動産についてはどう評価するのか?
                                                </li>
                                                <li>
                                                    自宅は長男に相続させると次男に相続させる物がない。どうすればよいか?
                                                </li>
                                                <li>
                                                    遺産をどう分けたらよいのか知りたい
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- drop-down-data end -->
                                </div>


                                <!-- one (A6) -->
                                <div class="step-dropdown">
                                    <div class="step-data step-data2" [class.step-data2]="accordionShow">
                                        <a (click)="onAccordionShow('A6')" id="A6">
                                            <span>遺言について</span>
                                            <span>類似のご質問</span>
                                        </a>
                                    </div>

                                    <!-- drop-down-data start -->

                                    <div class="drop-down-menu" *ngIf="accordionShow === 'A6'">
                                        <div class="dropdown-datas">
                                            <ul>
                                                <li>
                                                    遺言執行人は誰にしたらよいのか? 必要なのか?

                                                </li>
                                                <li>
                                                    自筆遺言と公正証書遺言のどちらで書けばよいのか?
                                                </li>
                                                <li>
                                                    遺言をどのように書けばよいのか
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- drop-down-data end -->
                                </div>


                                <!-- one (A7) -->
                                <div class="step-dropdown">
                                    <div class="step-data step-data2" [class.step-data2]="accordionShow">
                                        <a (click)="onAccordionShow('A7')" id="A7">
                                            <span>家族信託について</span>
                                            <span>類似のご質問</span>
                                        </a>
                                    </div>

                                    <!-- drop-down-data start -->

                                    <div class="drop-down-menu" *ngIf="accordionShow === 'A7'">
                                        <div class="dropdown-datas">
                                            <ul>
                                                <li>
                                                    家族信託と成年後見制度の違いを知りたい。
                                                </li>
                                                <li>
                                                    家族信託と遺言はどのように使い分ければよいのか?
                                                </li>
                                                <li>
                                                    家族信託を遺言と同じように使うと、次の次の代までつなげると聞いたが?
                                                </li>
                                                <li>
                                                    家族信託を活用すると贈与税なしで名義変更できると聞いたが?
                                                </li>
                                                <li>
                                                    家族信託の活用方法を知りたい
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- drop-down-data end -->
                                </div>


                                <!-- one (A7) -->
                                <div class="step-dropdown">
                                    <div class="step-data step-data2" [class.step-data2]="accordionShow">
                                        <a (click)="onAccordionShow('A8')" id="A8">
                                            <span>家族信託について</span>
                                            <span>類似のご質問</span>
                                        </a>
                                    </div>

                                    <!-- drop-down-data start -->

                                    <div class="drop-down-menu" *ngIf="accordionShow === 'A8'">
                                        <div class="dropdown-datas">
                                            <ul>
                                                <li>
                                                    自分が認知症になってもペットが困らないようにする一番良い方法は?
                                                </li>
                                                <li>
                                                    家族信託を活用してペットの信託を作れると聞いたのですが?
                                                </li>
                                                <li>
                                                    遺言でペットに財産を遺すことは可能ですか? その方法は?
                                                </li>
                                                <li>
                                                    生前にペットに財産を残しておくことはできますか? そしてその方法は?
                                                </li>
                                                <li>
                                                    ペットに財産を残しておきたいのだが
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- drop-down-data end -->
                                </div>

                            </div>

                            <!-- free-consultation-header start -->
                            <div class="free-consultation-header">
                                <div class="heder-title">
                                    <span>
                                        過去開催
                                    </span>
                                </div>
                            </div>
                            <!-- free-consultation-header end -->

                            <!-- scroll data start -->
                            <div class="scroll-data scroll-data2">
                                <ul>
                                    <li>
                                        <div class="date">
                                            <p>
                                                <span>終了</span>
                                                <span>2022/05/18</span>
                                            </p>
                                        </div>

                                        <div class="anchor-scroll-data2">
                                            <a href="#">
                                                横浜市青葉区の皆様へ　5月18日(木)
                                                <br>
                                                保険相談サロンFLPたまプラーザテラス店
                                                <br>
                                                相続無料相談会開催のお知らせです。
                                            </a>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="date">
                                            <p>
                                                <span>終了</span>
                                                <span>2021/11/18</span>
                                            </p>
                                        </div>

                                        <div class="anchor-scroll-data2">
                                            <a href="#">
                                                横浜市青葉区の皆様へ　11月18日(木)
                                                <br>
                                                保険相談サロンFLPたまプラーザテラス店
                                                <br>
                                                相続無料相談会開催のお知らせです。
                                            </a>
                                        </div>
                                    </li>


                                    <li>
                                        <div class="date">
                                            <p>
                                                <span>終了</span>
                                                <span>2021/09/16</span>
                                            </p>
                                        </div>

                                        <div class="anchor-scroll-data2">
                                            <a href="#">

                                                横浜市青葉区の皆様へ　9月16日(木)
                                                <br>
                                                保険相談サロンFLPたまプラーザテラス店
                                                <br>
                                                相続無料相談会開催のお知らせです。
                                            </a>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="date">
                                            <p>
                                                <span>終了</span>
                                                <span>2021/06/10</span>
                                            </p>
                                        </div>

                                        <div class="anchor-scroll-data2">
                                            <a href="#">
                                                横浜市青葉区の皆様へ　6月10日(木)
                                                <br>
                                                保険相談サロンFLPたまプラーザテラス店
                                                <br>
                                                相続無料相談会開催のお知らせです。
                                            </a>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                            <!-- scroll data end -->
                        </div>

                    </div>
                </div>
                <!-- left-side end -->


            </div>
        </div>
        <!-- container 2 end -->


    </div>
    <!-- home-area-child end -->

</div>